/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/11/2021, 02:56:23
    Author     : Ander
*/
*{
    font-family: sans-serif;
     overflow: hidden;
  
}

body{
background-image: url(Imagens/ceu.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

.container{
    width: 45%;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 5% auto;
    background-color: rgba(127, 130, 128, 0.3);
}
input{
    width: 65%;
    margin: 15px;
     border-radius: 10px;
     border: transparent;
     padding: 15px;
     font-size: 20px
}
#nome, #senha, #email {
   
    width: 60%; 
}
#entrar{
        background-color: #70c918;
        font-weight: bolder;
        color: white;
        cursor: pointer;
}
#cadastrar{
     background-color: #ed9702;
      font-weight: bolder;
      color: white;
       cursor: pointer;
}
#entrar:hover{
        background-color: #b8bf58;
}#cadastrar:hover{
        background-color: #b8bf58;
}
#alterar{
     background-color: #c44d49;
      font-weight: bolder;
      color: white;
       cursor: pointer;
}

#alterar:hover{
        background-color: #b8bf58;
}
#altera{
     background-color: transparent;
     width: 145px;
    margin-left: 40%;
      font-weight: bolder;
      padding: 0;
      color: red;
      text-decoration: underline;
      cursor: pointer;
}

h1{
    color: white;
    font-size: 40px;
   text-shadow: black 2px 1px 2px;
}
.container {
    
   animation: slide 0.3s 0.2s backwards;
   -webkit-animation: slide 0.3s 0.2s backwards;
   -moz-animation: slide 0.3s 0.2s backwards; 
    -ms-animation: slide 0.3s 0.2s backwards;
     -o-animation: slide 0.3s 0.2s backwards;
}
form {
    
   animation: slide 0.3s 0.2s backwards;
   -webkit-animation: slide 0.3s 0.2s backwards;
   -moz-animation: slide 0.3s 0.2s backwards; 
    -ms-animation: slide 0.3s 0.2s backwards;
     -o-animation: slide 0.3s 0.2s backwards;
}


@keyframes fade 
{
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@-moz-keyframes fade  /* Firefox */
{
    from {
        opacity: 0; 
        -moz-transform: scale(0.9);
    }
    to {
        opacity: 1;
        -moz-transform: scale(1);
    }
}
@-webkit-keyframes fade  
{
    from {
        opacity: 0;
        -webkit-transform: scale(0.9);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@-o-keyframes fade  /* Opera */
{
    from {
        opacity: 0;
        -o-transform: scale(0.9);
    }
    to {
        opacity: 1;
        -o-transform: scale(1);
    }
}
@-ms-keyframes fade  /* IE */
{
    from {
        opacity: 0;
        -ms-transform: scale(0.9);
    }
    to {
        opacity: 1;
        -ms-transform: scale(1);
    }
}

@keyframes slide 
{
    from {
        opacity: 0;
        transform: translateX(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@-moz-keyframes slide  /* Firefox */
{
    from {
        opacity: 0;
        -moz-transform: translateX(-35%);
    }
    to {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}
@-webkit-keyframes slide  
{
    from {
        opacity: 0;
        -webkit-transform: translateX(-35%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}
@-o-keyframes slide  /* Opera */
{
    from {
        opacity: 0;
        -o-transform: translateX(-35%);
    }
    to {
        opacity: 1;
        -o-transform: translateX(0%);
    }
}
@-ms-keyframes slide  /* IE */
{
    from {
        opacity: 0;
        -ms-transform: translateX(-35%);
    }
    to {
        opacity: 1;
       -ms-transform: translateX(0%);
    }
}