<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroServlet</servlet-name>
        <servlet-class>servlet.CadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarServlet</servlet-name>
        <servlet-class>servlet.EditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigurarServlet</servlet-name>
        <servlet-class>servlet.ConfigurarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarProdutoServlet</servlet-name>
        <servlet-class>servlet.cadastrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarProdutoServlet</servlet-name>
        <servlet-class>servlet.editarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirProdutoServlet</servlet-name>
        <servlet-class>servlet.excluirProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarClienteServlet</servlet-name>
        <servlet-class>servlet.cadastrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirClienteServlet</servlet-name>
        <servlet-class>servlet.excluirClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroServlet</servlet-name>
        <url-pattern>/CadastroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarServlet</servlet-name>
        <url-pattern>/EditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigurarServlet</servlet-name>
        <url-pattern>/ConfigurarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarProdutoServlet</servlet-name>
        <url-pattern>/cadastrarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarProdutoServlet</servlet-name>
        <url-pattern>/editarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirProdutoServlet</servlet-name>
        <url-pattern>/excluirProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarClienteServlet</servlet-name>
        <url-pattern>/cadastrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirClienteServlet</servlet-name>
        <url-pattern>/excluirClienteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
